Debug/
Release/
GeneratedFiles/
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
*.sdf
ipch/
*.dat
